body {
	font-family: Arial;
	background-color: #0a0a0a;
}


#welcome-text {
	text-align: center;
	color: white;
}
.parallax { 
    /* The image used */
    background-image: url("logo.png");

    /* Set a specific height */
    height: 500px;
	width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

div {
	color: white;
	background-color: #0a0a0a;
	display: block;
	padding: 50px 80px;
}

#youtube_parallax {
	background-image: url("http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c548.png");
	background-color: white;
}

.btn {
	background-color: #0a0a0a; /* black */
    border-style: solid;
	border-color: white;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.btn:hover {
	color: black;
	background-color: white;
}

#white {
	color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #0a0a0a;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.div {
	
}
