body {
	font-family: Arial;
	background-color: #0a0a0a;
}


#welcome-text {
	text-align: center;
	color: white;
}
.parallax { 
    /* The image used */
    background-image: url("logo.png");

    /* Set a specific height */
    height: 500px;
	width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

div {
	color: white;
	background-color: #0a0a0a;
	display: block;
	padding: 50px 80px;
}

#youtube_parallax {
	background-image: url("http://logo-logos.com/wp-content/uploads/2016/11/YouTube_logo.png");
	background-color: white;
}

.btn {
	background-color: #0a0a0a; /* black */
    border-style: solid;
	border-color: white;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
	color: black;
	background-color: white;
}