html, body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
}

h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: white;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}

p {
  margin: 75px 0;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sakura.png);
  background-color: rgb(250,228, 216);
}

@media only screen and (max-device-width: 1024px) {
	/* turns off the parallax effect on mobile */
    .parallax {
        background-attachment: scroll;
    }
}

#youtube_parallax {
	background-image: url("http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c548.png");
	background-color: white;
}

.btn {
	background-color: #0a0a0a; /* black */
    border-style: solid;
	border-color: white;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.btn:hover {
	color: black;
	background-color: white;
}

#white {
	color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #0a0a0a;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
